<div class="column is-one-quarter">
  <nav class='panel'>
    <p class='panel-heading'>Trends</p>

      <% 6.times do |i| %>

        <a class='panel-block'>
      Trend <%= "#{i + 1}" %>
        </a>
      <% end %>
  </nav>
</div>
